<header style="background-image: url('../public/assets/images/breakfast-pic.jpg');" class="py-3 mb-3">
      <div class="flex-row justify-space-between align-center container-fluid mx-auto">
        <h1 class="text-dark bg-transparent p-3">The Breakfast App</h1>
        <h3 class="text-dark bg-transparent p-3"></h3>
      </div>
    </header>
    <main>
      <!-- Slection of Recipes -->
      <section class="container">
        <div class="row gx-5">
          <div class="my-3 col">
            <!-- Form -->
            <form id="selection-form" class="p-3 border">
              <h2>Select Recipe Difficult</h2>
              <div class="p-3">
                <div class="my-3">
                  <input class="form-check-input diff" type="radio" name="difficult" id="difficult-input" value="1">
                  <label class="form-check-label">
                    Junior-Chef (1-3 Ingredients)
                  </label>
                </div>
                <div class="my-3">
                  <input class="form-check-input diff" type="radio" name="difficult" id="difficult-input" value="2">
                  <label class="form-check-label">
                    Sous-Chef (4-7 Ingredients)
                  </label>
                </div>
                <div class="my-3">
                  <input class="form-check-input diff" type="radio" name="difficult" id="difficult-input" value="3">
                  <label class="form-check-label">
                    Master-Chef (8-10 Ingredients)
                  </label>
                </div>
              </div>
              <!-- Search Buttom -->
              <div id="search-button" class="d-grid gap-2">
                <button class="btn btn-primary bg-gradient" type="button">Search</button>
              </div>
            </form>
          </div>
        </div>
      </section>
     <script src="/javascript/search.js"></script>